<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="index.html">Medilab</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li class="drop-down"><a href="">Profil</a>
          <ul>
            <li><a href="#">Sejarah</a></li>
            <li><a href="#">Visi & Misi</a></li>
            <li><a href="#">Direktur</a></li>
            <li><a href="#">Struktur Organisasi</a></li>
            <li><a href="#">Tugas Pokok & Fungsi</a></li>
            <li><a href="#">Program Kerja</a></li>
            <li><a href="#">Laporan Kinerja</a></li>
            <li><a href="#">Maklumat</a></li>
            <li><a href="#">Standar Pelayanan</a></li>
          </ul>
        </li>
        <li><a href="#services">PPID</a></li>
        <li class="drop-down"><a href="">Pelayanan</a>
          <ul>
            <li><a href="#">Poliklinik</a></li>
            <li><a href="#">Rawat Inap</a></li>
            <li><a href="#">Direktur</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="">Berita & Kegiatan</a>
          <ul>
            <li><a href="#">Berita</a></li>
            <li><a href="#">Artikel</a></li>
            <li><a href="#">PKRS</a></li>
            <li><a href="#">SIMRS</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="">Survey Pelayanan</a>
          <ul>
            <li><a href="#">Survey Kepuasan Masyarakat</a></li>
            <li><a href="#">Standar Pelayanan Minimal</a></li>
            <li><a href="#">Survey Online Versi 1</a></li>
            <li><a href="#">Survey Online Versi 2</a></li>
            <li><a href="#">Survey Terkait Penanganan Covid</a></li>
          </ul>
        </li>
      </ul>
    </nav><!-- .nav-menu -->

    <a href="pendaftaran.html" class="appointment-btn scrollto">Make an Appointment</a>

  </div>
</header><!-- End Header -->
